# update repo
if has jj; then
	jj git fetch --all-remotes
elif has gix; then
	gix fetch
elif has git; then
	git fetch
fi

watch_file ./flake.{nix,lock} ./flake-modules/{default,devshells,overlays,nixvim-modules}.nix
use flake
