name: Check flake
on:
  push:
    branches: [main]
  pull_request:
env:
  NIX_INSTALLER_NIX_PACKAGE_URL: https://releases.lix.systems/lix/lix-2.94.0/lix-2.94.0-x86_64-linux.tar.xz
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install lix
        uses: samueldr/lix-gha-installer-action@latest
      - name: Run `nix flake check`
        run: |
          nix run nixpkgs#statix -- check .
          nix flake check --verbose --keep-going
  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install lix
        uses: samueldr/lix-gha-installer-action@latest
      - name: Build documentation
        run: nix build .#docs --print-build-logs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: ./result
  deploy-docs:
    runs-on: ubuntu-latest
    needs: build-docs
    if: ${{ github.event_name == 'push' }} # only run on main branch
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
